.container {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-left: 15px;

}
.input {
    margin-right: 30px;
    width: 85%;
}

@media (max-width: 485px) {
    .container {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        padding-left: 5px;
        padding-right: 5px;
        align-items: flex-start;
    }

    .input {
        margin-right: 0;
        margin-bottom: 5px;
        width: 100%;
    }
}