.activeCard {
    background-color: #3f51b5;
    color: white;
}
.ItemWrapper {
    display: flex;
    flex-direction: row;
    position: relative;    
    border-bottom: 1px solid #dedede;
    justify-content: space-between;
    align-items: center;
}
.ItemWrapper:not(.activeCard):hover {
    background-color: #dedede;
    border-bottom: 1px solid #dedede;
}
.linkItemContainer {
    display: flex;
    align-items: center;
    min-height: 45px;
    margin-left:15px;    
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ItemTextContent {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}
.header {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
}
.description {
    font-size: 20px;
    margin-bottom: 10px;
}
.link {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.ItemImage {
    max-width: 100px;
    max-height: 100px;
    flex-shrink: 0;
    margin-right: 10px;
}
.ItemImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttonsContainer {
    display: flex;
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;   
}
.realLink {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;    
}

a, a:active , a:visited {
    color: white;
}

@media (max-width: 768px) {
    .ItemWrapper {
        flex-direction: column;
        padding: 5px;
    }

    .linkItemContainer {
        flex-direction: column;
        margin-left: 0;
    }
    .ItemTextContent {
        max-width: unset;
    }
    .link {
        font-size: 18px;
        margin-left: 0;
    }
}

@media (max-width: 485px) {
    .link {
        display: none;
        /* opacity: 0; */
    }
}