.outerWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 100%;
}
.header {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    min-height: 64px;
    padding-left: 15px;
}
.formHeader {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;

}
.container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formFooter {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.mb10 {
    margin-bottom: 10px;
}