*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
  flex-direction: column;
}
.tabs {
  padding: 15px;
  cursor: pointer;
  position: relative;
  outline: none;
}

.active-tabs {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
}

.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;  
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.editCollectionFormContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.active-content {
  display: flex;
  flex-direction: column;
}
.deleteIconButton {
  font-size: 24px;
}
.collectionMode {
  display: flex;
  /* flex-direction: column; */
  user-select: none;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1240px) {
  .editCollectionFormContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}