.container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;    
    padding-left: 5px;
    justify-content: space-between;
}
.input {
    margin-right: 15px;
    width: 80%;
}
.button {
    margin-right: 15px;    
}

@media (max-width: 485px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .input {
        margin-bottom: 5px;
        width: unset;
    }
}