.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    min-height: 64px;
    padding-left: 15px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: white;

}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 42px;
    font-weight: 700;
    padding-left: 15px;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
}
.contentBody {
    margin-bottom: 20px;
    max-width: 50%;
    text-align: center;
}
.footer {
    display: flex;    
    flex-shrink: 1;
    /* width: 100%; */
    background-color: '#dedede';
    padding-left: 15px;
}

@media (max-width: 425px) {
    .contentBody {
        max-width: 95%;
    }
}