.tabContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #f6f5f4;
}
.header {
    padding: 5px;
    color: #808080;
    font-size: 14px;
}
.collectionsListContainer {
    display:  flex;
    flex-direction: column;
}
